.membername{
  font-size: 50px;
  padding: 3%;
}
.memberrole{
  font-size: 30px;
  padding: 3%;
}

.memimage{
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  width: 400px;
  height: 500px;
  /* background: url("https://i.pinimg.com/564x/6f/5a/b1/6f5ab1b470beeeeaf285bb451c63ac8f.jpg"); */
  background-color: white;
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  margin-top: -100px;

}

.overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  background: rgba(77, 77, 77, 0.9);
  color: #ffffff;
  opacity: 0;
  transition: all 0.5s;
  font-family: sans-serif;
}

.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  font-size: 60px;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
}

.head hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px #ffffff;
  position: relative;
  bottom: 0;
  left: 20px;
  transition: all 0.5s;
}  

.container:hover .overlay {
  opacity: 1;
}

.container:hover .overlay .head {
  transform: translateY(0px);
}

.container:hover .overlay hr {
  width: 75px;
  transition-delay: 0.4s;
}

.container:hover .overlay .price {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}

.container:hover .overlay .cart {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}
